body {
  background-color: #f9f9f9;
  font-family: "Lato";
  font-size: 14px;
  color: #100c0b;
  height: 100%;
  padding: 0;
  margin: 0; }

.no-space {
  padding: 0;
  margin: 0; }

.fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #191726;
  overflow: hidden; }

.controls {
  padding: 10px;
  border-radius: 4px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  opacity: 0.3;
  position: absolute;
  z-index: 1000;
  bottom: 10px;
  right: 10px;
  -webkit-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s; }
  .controls label {
    display: block; }
  .controls input {
    display: block;
    width: 100%; }
  .controls:hover {
    opacity: 1; }

.plexus {
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-45deg, #DF4F64, #FEB027);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-45deg, #DF4F64, #FEB027);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-45deg, #DF4F64, #FEB027);
  /* For Firefox 3.6 to 15 */
  background: -webkit-linear-gradient(135deg, #DF4F64, #FEB027);
  background: -o-linear-gradient(135deg, #DF4F64, #FEB027);
  background: linear-gradient(-45deg, #DF4F64, #FEB027);
  /* Standard syntax */ }

/* Extra small devices (phones, less than 768px) */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
