// MIXINS
@import "mixins.scss";

// FONTS
$main-font: "Lato";
$main-font-size: 14px;
$color: #100c0b;
$anchor: #8687dd;

$white: #fff;
$red: #e85a5d;
$blue: #979eff;
$green: #69f282;
$lightgray: #f9f9f9;
$gray: #727272;
$darkgray: #1f1f1f;

$bg-color: #fafafa;

body {
  background-color: $lightgray;
  font-family: $main-font;
  font-size: $main-font-size;
  color: $color;
  height: 100%;

  @include noSpaces();
}

.no-space {
  @include noSpaces();
}


.fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #191726;
  overflow: hidden;
}

.controls {
  padding: 10px;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  opacity: 0.3;
  position: absolute;
  z-index: 1000;
  bottom: 10px;
  right: 10px;

  transition: opacity 0.1s;

  label {
    display: block;
  }

  input  {
    display: block;
    width: 100%;
  }

  &:hover {
    opacity: 1;
  }
}

.plexus {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-45deg, #DF4F64, #FEB027); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-45deg, #DF4F64, #FEB027); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-45deg, #DF4F64, #FEB027); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-45deg, #DF4F64, #FEB027); /* Standard syntax */
}

// ---------------------------------------------------------------------

$xs-min: "only screen and (min-width:0)";
$xs-max: "only screen and (max-width:520px)";
$xs-sm: "only screen (min-width: 0) and (max-width:767px)";

$sm-min: "only screen and (min-width:768px)";
$sm-max: "only screen and (max-width:991px)";
$sm-md: "only screen (min-width: 768px) and (max-width:991px)";

$md-min: "only screen and (min-width:992px)";
$md-max: "only screen and (max-width:1199px)";
$md-lg: "only screen (min-width: 992px) and (max-width:1199px)";

$lg-min: "only screen and (min-width:1200px)";
$lg-max: "only screen and (max-width:none)";

/* Extra small devices (phones, less than 768px) */
@media #{$xs-sm} {

}

/* Small devices (tablets, 768px and up) */
@media #{$sm-min} {

}

/* Medium devices (desktops, 992px and up) */
@media #{$md-min} {

}

/* Large devices (large desktops, 1200px and up) */
@media #{$lg-min} {

}